/* /Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Layout specific utility rules (Conflicting Bootstrap overrides removed) */
a.navbar-brand[b-ouywqejsh2] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
